<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <span>
          Currency RUB
        </span>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" matTooltip="Add currency" matTooltipPosition="right" [disabled]="addCurrency.length === 0">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <mat-selection-list [multiple]="false" color="primary">
              <ng-container *ngFor="let item of addCurrency">
                <mat-list-option [value]="item" (click)="addedCurrency(item)">
                  {{ item }}
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        {{ currentDate  | date:"dd.MM.yyyy, HH:mm:ss" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <span>Amount of money</span>
        <div class="content-amount">
          <mat-form-field  appearance="outline" subscriptSizing="dynamic">
            <input matInput [(ngModel)]="amountValue"  maxlength="12">
          </mat-form-field>
          <button mat-icon-button (click)="clearAmount()" [disabled]="amountValue === undefined" matTooltip="Delete value">
            <mat-icon>currency_exchange</mat-icon>
          </button>
        </div>
        <ng-container *ngFor="let item of currency">
          <span>{{ item }}</span>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="content-currency">
            <input matInput [value]="currencyMap.has(item) && currencyMap.get(item) !== undefined ? currencyMap.get(item) : 'No data'" readonly>
            <mat-icon>{{ changeValueMap.get(item) > 0 ? 'expand_less' : changeValueMap.get(item) < 0 ? 'expand_more' : 0 }}</mat-icon>
            <span>({{ changeValueMap.get(item) !== undefined ? changeValueMap.get(item) : 0 }})</span>
          </mat-form-field>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
